
/* Ajout / Override Bootstrap */
:root
{
    --antecursor: #EEDE87;
}

.btn-antecursor
{
    color: #000000;
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
    border-radius: 15px;
}

.bg-antecursor-g 
{
    background-color: darkgoldenrod !important;
    color: white;
}

.bg-antecursor-d
{
    background-color: #303030;
    color: white;
}

/* Fin ajout / override bootstrap */

*
{
 box-sizing: border-box;
}

html, body
{
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
}

.logo
{
    position: absolute;
    width: 120px;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-bar
{
    position: relative;
}

.nav-bar ul
{
    display: flex;
    list-style-type: none;
    background-color: #303030;
    padding: 0px;
    padding-left: 5px;
    border-bottom-right-radius: 100px;
    border-top-right-radius:100px;
    margin: 50px;
    margin-left: 150px;
}

.nav-container
{
    overflow: hidden;
}

/* Items de la liste */
.nav-item
{
    /* inline block permet d'aligner les éléments de la liste */ 
    display: inline-block;
    color: white;
    font-size: 1.3em;
}

.nav-item a
{
    /* Permet de gérer les liens */
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:visited
{
    /* Permet de gérer les liens visités */
    color: white;
}

.nav-item a:hover
{
    /* Survol avec souris sur lien */
    background-color: black;
}

.nav-item a.active
{
    /* Lien actif + JS*/
    background-color: darkgoldenrod;
}

.inputfile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload
{
    cursor: pointer;
    width: 40px;
}
